.main-navbar{
  background:var(--secondary);

  border-top:2px solid red;
}

.navbar-container{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

.navbar-container a{
  color:#fff;

  font-size:16px;
  font-weight:700;

  padding:12px 15px;

  transition:var(--transition);
}

.navbar-container a:hover{
  background:var(--secondary-hover);
}

@media(max-width:768px){

  .navbar-container{
    justify-content:flex-start;

    flex-wrap:nowrap;

    overflow-x:auto;

    scrollbar-width:none;
  }

  .navbar-container::-webkit-scrollbar{
    display:none;
  }

  .navbar-container a{
    white-space:nowrap;

    font-size:14px;

    padding:11px 13px;
  }

}