---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/static-page.css";
---

<BaseLayout
  title="Disclaimer | GovtJobsNotice"
  description="Disclaimer of GovtJobsNotice"
>

<main class="static-page">

  <section class="static-box">

    <h1 class="static-title">
      Disclaimer
    </h1>

    <div class="static-content">

      <p>

        GovtJobsNotice is an independent educational
        and informational platform.

      </p>

      <p>

        We are not associated with any government department,
        organization or recruitment authority.

      </p>

      <p>

        While every effort is made
        to provide accurate information,
        users are advised to verify all details
        from official government websites.

      </p>

      <p>

        GovtJobsNotice will not be responsible
        for any loss or inconvenience caused
        due to reliance on information available
        on this website.

      </p>

    </div>

  </section>

</main>

</BaseLayout>