<header class="site-header">
  <div class="top-header">
    <div class="container">
      <a href="/" class="logo-wrapper">
        <img src="/logo.png" alt="Govt Jobs Notice" class="site-logo" />

        <div class="logo-text">
          <div class="logo-title">GOVT JOBS NOTICE</div>

          <div class="logo-subtitle">
            Latest Govt Jobs • Admit Card • Results
          </div>
        </div>
      </a>
    </div>
  </div>

  <nav class="main-navbar">
    <div class="container navbar-container">
      <a href="/"> Home </a>
      <a href="/all-posts"> All Posts</a>
      <a href="/category/latest-jobs"> Latest Jobs </a>
   <a href="/exams"> Exams </a>
      <a href="/category/admit-card"> Admit Card </a>

      <a href="/category/results"> Results </a>

      <a href="/category/answer-key"> Answer Key </a>

      <a href="/category/syllabus"> Syllabus </a>

      <a href="/category/admission"> Admission </a>

      <a href="/contact"> Contact </a>
      <!-- <a href="/search"> Search </a> -->
    </div>
  </nav>
</header>
