---
import { getAllPosts } from "../lib/repositories/postRepository";

const { currentSlug = "" } = Astro.props;

/* FETCH POSTS */

const allPosts = await getAllPosts();

/* SORT LATEST */

const latestPosts = allPosts
  .filter((post) => post.slug !== currentSlug)
  .sort(
    (a, b) =>
      new Date(b.published_at).getTime() -
      new Date(a.published_at).getTime(),
  )
  .slice(0, 8);

/* SCHEMA */

const itemListSchema = {
  "@context": "https://schema.org",

  "@type": "ItemList",

  name: "Latest Government Job Updates",

  itemListElement: latestPosts.map((post, index) => ({
    "@type": "ListItem",

    position: index + 1,

    url: `https://govtjobsnotice.com/${post.slug}/`,

    name: post.title,
  })),
};
---

<!-- SEO SCHEMA -->
<script type="application/ld+json" set:html={JSON.stringify(itemListSchema)} />

<!-- LATEST POSTS -->
<section class="simple-post-box" aria-labelledby="latest-posts-heading">
  <h2 id="latest-posts-heading" class="simple-post-heading red-heading">
  Latest Updates
  </h2>


  <ul class="simple-post-list">
    {
      latestPosts.map((post) => (
        <li class="simple-post-item">
          <a href={`/${post.slug}/`} class="simple-post-link">
            {post.title}
          </a>
        </li>
      ))
    }
  </ul>
</section>
