---
import { getAllPosts } from "../lib/repositories/postRepository";

const { currentSlug = "" } = Astro.props;

const allPosts = await getAllPosts();

const latestPosts = allPosts
  .filter((post) => post.slug !== currentSlug)
  .sort(
    (a, b) =>
      new Date(b.latest_status_date).getTime() -
      new Date(a.latest_status_date).getTime(),
  )
  .slice(0, 8);
---

<section class="simple-post-box">
  <h2 class="simple-post-heading red-heading">
    Latest Posts
  </h2>

  <ul class="simple-post-list">
    {
      latestPosts.map((post) => (
        <li>
          <a href={`/${post.slug}/`}>
            {post.title}
          </a>
        </li>
      ))
    }
  </ul>
</section>